:root {
  --fontColour : white;
  --subtitleColour: rgb(231, 163, 156);
  --linkHoverColour: rgb(151, 208, 212);
  --linkColour: #ff7965;
  --backgroundColour : linear-gradient(to top,#4a6064, #283436,#283436);
  --overlay: rgba(0, 0, 0, 0.4);
  --navbarColour: rgba(74,96,100,1);
  --headerFont: 'Spectral', serif;
  --bodyFont: 'Karla', sans-serif;
  --accentFont: 'Bodoni Moda', serif;
  --symbolFont: 'SymbolaRegular';
}

.light_theme {
  --fontColour: rgb(35, 54, 58);
  --subtitleColour: #af5547;
  --linkColour: #772b1f;
  --linkHoverColour: rgb(23, 168, 173);
  --backgroundColour: linear-gradient(to top,#aec4c9,#dce8eb,#dce8eb);
  --overlay: rgba(255, 255, 255, 0.5);
  --navbarColour: rgb(213, 231, 235);
}

* {
  margin: 0;
  padding: 0;
  color: var(--fontColour);
}
html {scroll-behavior: smooth; transition: 0.3s;}
html, body { max-width: 100%; overflow-x: hidden;} 
body {font-family: var(--bodyFont);}
svg {transform: translateZ(0); /* Fix Safari rendering bug */}

.col {flex: 1; display: flex; align-items: center; flex-direction: column;}
.row {display: flex;flex-wrap: wrap;}
h2 {
  font-family: var(--headerFont);
  letter-spacing: 0.02em;
}

.tqw {height: 350px;}
.halfw {height: 250px;}
.qw {height: 150px;}

h3 {font-family: var(--headerFont);}
 
.switch { /* box around the slider */
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
}
.switch input {display: none;} /* hide checkbox */
.slider { /* The slider */
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #052125;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 3px;
  transition: 0.1s;
  border-radius: 50%;
  box-shadow: inset 5px -3px 0px 0px white;
}

.content {
  background: var(--backgroundColour);
  position: absolute;
  width: 100vw;
  height: auto;
}

input:checked + .slider {background-color: #7eb8d8;}
input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
  background-color: #fff6d4;
  box-shadow: none;
}

.layer{
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  object-fit:cover;
}

#nav { /* navbar */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 5;
}
#nav li {
  list-style: none;
  margin: 10px 10px;
  letter-spacing: 0.1em;
  text-align: center;
}
#nav > li > a {
  opacity: 0.8;
  text-decoration: none;
}
#nav > li > a:hover {opacity: 1;}
.sticky {background-color: var(--navbarColour);}

/* .landing {height: 100vw;} */
.page_title {
  position: relative;
  top: 18vh;
  text-align: center;
  line-height: 0.9;
  z-index: 1;
  animation: float 3s ease-in-out infinite alternate; 
  mix-blend-mode: difference;
}
@keyframes float {to{ transform: translateY(-2%);}}
.landing p {
  font-family: var(--bodyFont);
  font-size: 2vw;
  color:white !important;
}

h2.page_title {
  font-size: 5vw;
  color: #b7a9a6 !important;
}
h3.page_title {
  font-size: 3vw;
  margin-top: 5px;
  color: #b7a9a6 !important;
}

.scroll {
  opacity: 0.8;
  z-index: 1;
  font-size: 12px;
  letter-spacing: .05em;
  text-decoration: none;
  font-family: var(--headerFont);
  margin-bottom: 5px;
}
#landing a{ /*"scroll down" text*/
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
}
.scroll:hover {opacity: 1;}

#landing a span {/*arrow down*/
  position: absolute;
  bottom: -18px;
  left: 50%;
  width: 18px;
  height: 18px;
  margin-left: -9.5px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
  animation: arrowdown 2s infinite;
}
@keyframes arrowdown {
  0% {transform: rotate(-45deg) translate(0, 0);}
  20% {transform: rotate(-45deg) translate(-10px, 10px);}
  40% {transform: rotate(-45deg) translate(0, 0);}
}

.bodytext {padding-top: 5%;}

#demo { /*the iframe*/
  height: 70vh;
  width: 80vw;
  margin-bottom: 10px;

}
.demo{
  width: 100vw;
  display: flex;
  justify-content: center;
}

.section_header > h2 {
  margin-top:5%;
  margin-left: 10%;
}

.card_div::before { /* dotted line dividers*/
  margin-left: -12px;
  content: "";
  display: block;
  border-bottom: 2px dashed var(--fontColour);
  animation: slide alternate 2s infinite;
  opacity: 0.2;
}
@keyframes slide {to { transform: translateX(12px);} }

.subheading {
  margin-left:12%;
  margin-right:10%;
  color: var(--subtitleColour) !important;
}

.writeup {
  margin-left: 15%;
  margin-right:10%;
}

footer {text-align: center;}

footer a span {
  position: absolute;
  width: 18px;
  height: 18px;
  margin-left: 25px;
  margin-top:-15px;
  border-left: 2px solid var(--fontColour);
  border-top: 2px solid var(--fontColour);
  transform: rotate(45deg);
  animation: arrowup 2s infinite;
}
@keyframes arrowup {
  0% {transform: rotate(45deg) translate(0, 0);}
  20% {transform: rotate(45deg) translate(-10px, -10px);}
  40% {transform: rotate(45deg) translate(0, 0);}
}

.page_head_spacer{
  padding-top: 100vh;
  text-align: center;
}

@media (max-width: 480px) { /* for mobile--leave at bottom so it overrides everything*/
  .filler {
    display: none;
  }
  .card_container{
    flex-direction: column;
    align-items: center;
  }
  .intro {
    position: absolute;
    right: 15vw;
    text-align: center;
  }
  .page_title {font-size: 20vw;}
  .intro p {font-size: 5vw;}
  .switch {
    position: fixed;
    bottom: 2%;
    left: 3%;
    display: block;
    width: 40px;
    height: 20px;
  }
  .page_head_spacer {height:10vh;}
}
